﻿
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
</style>
<h1>Add new ingredient for chosen dish</h1>

<form>
    <label>Ingredient Id</label>
    <input type="number" id="IngredientId" placeholder="Write id of ingredient" required />
    <input type="button" value="Add ingredient" onclick="add();"/>
</form>
<p id="return"></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var dishID = @ViewBag.id;
    var uri = 'https://localhost:5001/restaurant/dish/addingredient/' + dishID;
    $(document).ready(function(){
        $('<a>', { href: "/Dish/GetIngredients/" + dishID, text: "Return to all ingredients of this dish" }).appendTo($('#return'));
    });
    function add() {
        var ingrId = parseInt($('#IngredientId').val());
        $.post(uri + "/" + ingrId)
            .done(function (data) {
                alert('Ingredient was added. ');
            })
            .fail(function (err) {
                alert('Error: ' + err.Message);
            });
        
        setTimeout(() => {  document.location.reload(true) }, 5000);

    }
</script>

