﻿
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
     * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
</style>
<h1>Add new price</h1>

<form>
    <label>Portion weight</label>
    <input type="number" id="Portion" placeholder="Write the weight of the portion" required />
    <label>Price per portion</label>
    <input type="number" id="PricePerPortion" placeholder="Write the price per portion" required />
    <input type="button" value="Add price" onclick="add();" />
</form>
<p><a href="/Dish/GetAll">Return to all dishes</a></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/restaurant/dish/addprice/';
    function add() {
        var portion = parseInt($('#Portion').val());
        var price = parseInt($('#PricePerPortion').val());
        var newPrice = { portion: portion, pricePerPortion: price };

        $.ajax({
        type: "POST",
            url: uri + @ViewBag.Id,
            data: JSON.stringify(newPrice),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function (data) {
                alert('Price was added. ');
                }),
            failure: function (err) {
                alert('Error: ' + err.Message);
                }
        });
        setTimeout(() => {  document.location.reload(true) }, 5000);

    }
</script>

