﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 30px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 10%;
        border-radius: 2px;
    }
</style>

<h1>Edit dish info</h1>

<form>
    <label>Name</label>
    <input type="text" id="DishName" placeholder="Write the name of dish" required />
    <input type="button" value="Edit dish" onclick="edit();"/>
</form>
<p><a href="/Dish/GetAll">Return to all dishes</a></p>
<script>
    var uri = 'https://localhost:5001/restaurant/dish/edit/';
    function edit() {
        var id = @ViewBag.Id;
        var name = $('#DishName').val();
        var dish = { dishName: name };

        $.ajax({
            type: "PUT",
            url: uri + id,
            data: JSON.stringify(dish),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function (data) {
                alert('Dish was updated. ' + 'ID: ' + data.dishId + '; Name: ' + data.dishName);
                }),
            failure: function (err) {
                alert('Error: ' + err.Message);
                }
        });
        setTimeout(() => {  document.location.reload(true) }, 5000);
    }
</script>
