﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
   * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
</style>

<h1>Edit price info</h1>
<h2>Write new values in placehorders</h2>
<form method="post" action="">
    <label>Portion weight</label>
    <input type="number" id="Portion" placeholder="Write new value for portion weight" required />
    <label>Price per Portion</label>
    <input type="number" id="PricePerPortion" placeholder="Write new value for portion price" required />
    <input type="button" value="Edit price" onclick="edit();" />
</form>
<p><a href="/Dish/GetAll">Return to all dishes</a></p>
<script>
    var uri = 'https://localhost:5001/restaurant/dish/editprice/';
    function edit() {
        var priceID = @ViewBag.priceId;
        var dishID = @ViewBag.dishId;
        var weight = parseInt($('#Portion').val());
        var price = parseInt($('#PricePerPortion').val());
        var newPrice = { priceId: priceID, dishId: dishID, portion:  weight, pricePerPortion: price};

        $.ajax({
            type: "PUT",
            url: uri + priceID,
            data: JSON.stringify(newPrice),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function (data) {
                alert('Price was updated.');
                }),
            failure: function (err) {
                alert('Error: ' + err.Message);
                }
        });
        setTimeout(() => {  document.location.reload(true) }, 5000);
    }
</script>