﻿
@{
    ViewData["Title"] = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 30px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }
    
    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 100px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: auto;
        height: auto;
        border: 2px solid black;
    }

    a, button {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
        background: none;
    }

    .smallLink {
        color: cadetblue;
        font-size: 15px;
    }

    td p {
        margin-top: 5px;
        margin-bottom: 1px;
    }

</style>

<h1>Find dish info</h1>

<form>
    <label>Name</label>
    <input type="text" id="DishName" placeholder="Write the name of dish" required />
    <input type="button" value="Find dish" onclick="find();" />
</form>
<div class="div_table">
    <table id="dishes">
        <tr>
            <td>Dish Id</td>
            <td>Dish Name</td>
            <td>Portions</td>
            <td colspan="3">Commands</td>
        </tr>
    </table>
</div>
<p><a href="/Dish/Index">Return to dishes commands</a></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/restaurant/dish/find/';
    function find() {
        var name = $('#DishName').val();
        $.getJSON(uri + name)
            .done(function (data) {
                var indexOfId = 0;
              $.each(data, function (key, item) {
                  var dishID = 0;
                  $('<tr>', { id: indexOfId }).appendTo($('#dishes'));
                  if (item.length == 0) {
                      dishID = find(key);
                      console.log(find(key));
                  }
                  else {
                      dishID = item[0].DishId;
                  }
                  $('<td>', { text: dishID }).appendTo($('#' + indexOfId));
                  $('<td>', { text: key }).appendTo($('#' + indexOfId));
                  $('<td>', { id: "portions" + indexOfId, text: ""}).appendTo($('#' + indexOfId));
                  if (item.length != 0) {
                      for (var price in item) {
                      $('<p>', { text: item[price].PriceId + ") " + item[price].Portion + "gr; " + item[price].PricePerPortion + "UAH;" }).append($('<br />')).appendTo($("#portions" + indexOfId));
                      var editPrice = $('<a>', { class: "smallLink", href: "/Dish/EditPrice?priceId=" + item[price].PriceId + '&dishId=' + item[price].DishId, text: "Edit price" });
                      var deletePrice = $('<a>', { class: "smallLink", href: "#", role: "button", onclick: "deletePrice(" + item[price].PriceId + ");", text: "Delete price" });
                      $('<p>').appendTo($("#portions" + indexOfId)).append(editPrice, deletePrice);
                      }
                  }
                 
                  var addPrice = $('<a>', { class: "smallLink", href: "/Dish/AddPrice/" + dishID, text: "Add price" }).append($('<br />'));
                  var ingredients = $('<a>', { href: "/Dish/GetIngredients/" + dishID, text: "Ingredients" }).append($('<br />'));
                  var editDish = $('<a>', { href: "/Dish/Edit/" + dishID, text: "Edit dish" }).append($('<br />'));
                  var deleteDish = $('<a>', { href: "#", role: "button", onclick: "deleteDish(" + dishID + ");", text: "Delete dish" }).append($('<br />'));
                  $('<td>').append(addPrice).appendTo($('#' + indexOfId));
                  $('<td>').append(ingredients, editDish, deleteDish).appendTo($('#' + indexOfId));
                  indexOfId += 1;
                })
            })
            .fail(function (err) {
                $('#dish').text('Error: ' + err.Message);
            });
    }
    function find(name) {
        var uri = 'https://localhost:5001/restaurant/dish/getbyname/';
        var id = 0;
        $.ajax({
        url: uri + name,
        async: false,
        success: function (data) {
            id = data.dishId
            }
        });
        return id;
    }
</script>

