﻿
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using System.Linq
<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: auto;
        height: auto;
        border: 2px solid black;
    }

    a, button {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
        background: none;
    }

    p {
        margin-top: 30px;
    }

    .smallLink {
        color: cadetblue;
        font-size: 15px;
    }

    td p {
        margin-top: 5px;
        margin-bottom: 1px;
    }

    p {
        margin-top: 20px;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h1>List of dishes</h1>
<div class="div_table">
    <table id="dishes">
        <tr>
            <td>Dish Id</td>
            <td>Dish Name</td>
            <td>Portions</td>
            <td colspan="3">Commands</td>
        </tr>
    </table>
</div>
<p><a href="/Dish/Add">Add new dish</a></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    function getall() {
        var uri = 'https://localhost:5001/restaurant/dish/getall';
      $.getJSON(uri)
          .done(function (data) {
              var indexOfId = 0;
              $.each(data, function (key, item) {
                  var dishID = 0;
                  $('<tr>', { id: indexOfId }).appendTo($('#dishes'));
                  if (item.length == 0) {
                      dishID = find(key);
                  }
                  else {
                      dishID = item[0].DishId;
                  }
                  $('<td>', { text: dishID }).appendTo($('#' + indexOfId));
                  $('<td>', { text: key }).appendTo($('#' + indexOfId));
                  $('<td>', { id: "portions" + indexOfId, text: ""}).appendTo($('#' + indexOfId));
                  if (item.length != 0) {
                      for (var price in item) {
                      $('<p>', { text: item[price].PriceId + ") " + item[price].Portion + "gr; " + item[price].PricePerPortion + "UAH;" }).append($('<br />')).appendTo($("#portions" + indexOfId));
                      var editPrice = $('<a>', { class: "smallLink", href: "/Dish/EditPrice?priceId=" + item[price].PriceId + '&dishId=' + item[price].DishId, text: "Edit price" });
                      var deletePrice = $('<a>', { class: "smallLink", href: "#", role: "button", onclick: "deletePrice(" + item[price].PriceId + ");", text: "Delete price" });
                      $('<p>').appendTo($("#portions" + indexOfId)).append(editPrice, deletePrice);
                      }
                  }
                 
                  var addPrice = $('<a>', { class: "smallLink", href: "/Dish/AddPrice/" + dishID, text: "Add price" }).append($('<br />'));
                  var ingredients = $('<a>', { href: "/Dish/GetIngredients/" + dishID, text: "Ingredients" }).append($('<br />'));
                  var editDish = $('<a>', { href: "/Dish/Edit/" + dishID, text: "Edit dish" }).append($('<br />'));
                  var deleteDish = $('<a>', { href: "#", role: "button", onclick: "deleteDish(" + dishID + ");", text: "Delete dish" }).append($('<br />'));
                  $('<td>').append(addPrice).appendTo($('#' + indexOfId));
                  $('<td>').append(ingredients, editDish, deleteDish).appendTo($('#' + indexOfId));
                  indexOfId += 1;
            });
          });
    }
    $(document).ready(getall);
    function deleteDish(id) {
        var uri = 'https://localhost:5001/restaurant/dish/delete/';
        $.ajax({
        type: "DELETE",
            url: uri + id,
            success: function () {
                alert('Dish was deleted');
                document.location.reload(true);
            },
            failure: function (err) {
                    alert('Error: ' + err.Message);
                }
        });
    }
    function deletePrice(id) {
        var uri = 'https://localhost:5001/restaurant/dish/deleteprice/';
        $.ajax({
        type: "DELETE",
            url: uri + id,
            success: function () {
                alert('Price was deleted');
                document.location.reload(true);
            },
            failure: function (err) {
                    alert('Error: ' + err.Message);
                }
        });
    }
    
    function find(name) {
        var uri = 'https://localhost:5001/restaurant/dish/getbyname/';
        var id = 0;
        $.ajax({
        url: uri + name,
        async: false,
        success: function (data) {
            id = data.dishId
            }
        });
        return id;
    }
</script>

