﻿
@{
    ViewData["Title"] = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 30px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 100px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
</style>

<h1>Find ingredient info</h1>

<form>
    <label>Name</label>
    <input type="text" id="IngredientName" placeholder="Write the name of ingredient" required />
    <input type="button" value="Find ingredient" onclick="find();" />
</form>
<p id="ingredient"></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/restaurant/ingredient/';
    function find() {
        var name = $('#IngredientName').val();
        $.getJSON(uri + 'find/' + name)
            .done(function (data) {
                $('#ingredient').text('ID: ' + data.ingredientId + '; Name: ' + data.ingredientName);
            })
            .fail(function (err) {
                $('#ingredient').text('Error: ' + err.Message);
            });
    }
</script>


