﻿
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: 50%;
        height: auto;
        border: 2px solid black;
    }

    a, button {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
        background: none;
    }

    p {
        margin-top: 30px;
    }
</style>
<h1>List of ingredients</h1>
<div class="div_table">
    <table id="ingredients">
        <tr>
            <td>Ingredient Id</td>
            <td>Ingredient Name</td>
            <td colspan="2">Commands</td>
        </tr>
    </table>
</div>
<p><a href="/Ingredient/Add">Add new ingredient</a></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    function getall() {
        var uri = 'https://localhost:5001/restaurant/ingredient/getall';
      $.getJSON(uri)
          .done(function (data) {
              $.each(data, function (key, item) {
                  $('<tr>', { id: item.ingredientName }).appendTo($('#ingredients'));
                  $('<td>', { text: item.ingredientId }).appendTo($('#' + item.ingredientName));
                  $('<td>', { text: item.ingredientName }).appendTo($('#' + item.ingredientName));
                  var edit = $('<a>', { href: "/Ingredient/Edit/" + item.ingredientId, text: "Edit" });
                  var deleteBut = $('<a>', { href:"#", role:"button", onclick: "deleteIngr("+item.ingredientId + ");", text: "Delete" });
                  $('<td>').append(edit).appendTo($('#' + item.ingredientName));
                  $('<td>').append(deleteBut).appendTo($('#' + item.ingredientName));
            });
          });
    }
    $(document).ready(getall);
    function deleteIngr(id) {
        var uri = 'https://localhost:5001/restaurant/ingredient/delete/';
        $.ajax({
        type: "DELETE",
            url: uri + id,
            success: function () {
                alert('Ingredient was deleted');
                document.location.reload(true);
            },
            failure: function (err) {
                    alert('Error: ' + err.Message);
                }
        });
    }
</script>

