﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    h1 {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p, li {
        margin-top: 15px;
        font-size: 20px;
    }
    li {
        margin-top: 10px;
    }
    a {
        color: darkcyan;
        text-decoration: none;
    }
</style>
<div class="text-center" style="margin-top: 5px; ">
    <h1>Ingredients commands</h1>
    <p>Here you can choose what actions you want to do with ingredients:</p>
    <ul>
        <li><a href="/Ingredient/GetAll">Get the list of all ingredients;</a></li>
        <li><a href="/Ingredient/Find">Find ingredient by its name;</a></li>
    </ul>
    <p>Choose action you want to do.</p>
</div>



