﻿
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
</style>
<h1>Add new order</h1>

<form>
    <label>Customer Name</label>
    <input type="text" id="CustomerName" placeholder="Write the name of customer" required />
    <input type="button" value="Add order" onclick="add();" />
</form>

<p><a href="/Order/GetAll">Return to all orders</a></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/restaurant/order/add';
    function add() {
        var name = $('#CustomerName').val();
        var order = { customerName: name };

        $.ajax({
            type: "POST",
            url: uri,
            data: JSON.stringify(order),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function (data) {
                alert('Order was added. ID: ' + data.orderId + '; Customer name: ' + data.customerName + '; Total price: ' + data.totalPrice + '; Order date: ' + data.orderDate);
            }),
            failure: function (err) {
                alert('Error: ' + err.Message);
            }
        });
        setTimeout(() => { document.location.reload(true) }, 4000);

    }
</script>
