﻿
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
</style>
<h1>Add new dish for chosen order</h1>

<form>
    <label>Portion of dish id</label>
    <input type="number" id="priceId" placeholder="Write an id of dish portion" required />
    <label>Amount of portions</label>
    <input type="number" id="amount" placeholder="Write an amount of this dish" required />
    <input type="button" value="Add dish" onclick="add();"/>
</form>
<p id="return"></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/restaurant/order/adddish/';
    var orderId = @ViewBag.Id;
     $(document).ready(function () {
        $('<a>', { href: "/Order/GetDishes/" + orderId, text: "Return to all dishes of this order" }).appendTo($('#return'));
    });
    function add() {
        var portion = parseInt($('#priceId').val());
        var amount = parseInt($('#amount').val());
        var orderDish = { priceId: portion, portionCount: amount };

        $.ajax({
        type: "POST",
            url: uri + orderId,
            data: JSON.stringify(orderDish),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function (data) {
                alert('Dish was added to this order. ' );
                }),
            failure: function (err) {
                alert('Error: ' + err.Message);
                }
        });
        setTimeout(() => {  document.location.reload(true) }, 4000);

    }
</script>


