﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
    }

    p {
        margin-top: 30px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 10%;
        border-radius: 2px;
    }
</style>

<h1>Edit order info</h1>

<form method="post" action="">
    <label>Customer name</label>
    <input type="text" id="CustomerName" placeholder="Write new name of customer" required />
    <input type="button" value="Edit order" onclick="edit();"/>
</form>
<p><a href="/Order/GetAll">Return to all dishes</a></p>
<script>
    var uri = 'https://localhost:5001/restaurant/order/edit/';
    function edit() {
        var id = @ViewBag.Id;
        var name = $('#CustomerName').val();
        var order = { customerName: name };

        $.ajax({
            type: "PUT",
            url: uri + id,
            data: JSON.stringify(order),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function (data) {
                alert('Order was updated. ID: ' + data.orderId + '; Customer name: ' + data.customerName + '; Total price: ' + data.totalPrice + '; Order date: ' + data.orderDate);
                }),
            failure: function (err) {
                alert('Error: ' + err.Message);
                }
        });
        setTimeout(() => {  document.location.reload(true) }, 5000);
    }
</script>
