﻿
@{
    ViewData["Title"] = "EditDish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 40px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    a {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 60px;
        margin-bottom: 5%;
        border-radius: 2px;
    }
</style>

<h1>Edit dish info</h1>

<form>
    <label>Amount of portions</label>
    <input type="number" id="PortionCount" placeholder="Write new portion amount" required />
    <input type="button" value="Edit dish" onclick="edit();"/>
</form>
<p id="return"></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'https://localhost:5001/restaurant/order/editdish/';
    var orderDishId = @ViewBag.Id;
    function edit() {
        var amount = parseInt($('#PortionCount').val());
        var orderDish = { portionCount: amount };

        $.ajax({
            type: "PUT",
            url: uri + orderDishId,
            data: JSON.stringify(orderDish),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function (data) {
                alert('Dish for this order was updated. ');
                $('<a>', { href: "/Order/GetDishes/" + data.orderId, text: "Return to all dishes of this order" }).appendTo($('#return'));
                }),
            failure: function (err) {
                alert('Error: ' + err.Message);
                }
        });

    }
</script>
