﻿
@{
    ViewData["Title"] = "Find";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: auto;
        height: auto;
        border: 2px solid black;
    }

    a, button {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
        background: none;
    }

    p {
        margin-top: 30px;
    }

    .smallLink {
        color: cadetblue;
        font-size: 15px;
    }

    td p {
        margin-top: 5px;
        margin-bottom: 1px;
    }

    p {
        margin-top: 20px;
    }

    form {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
        height: auto;
    }

    input {
        border: 2px solid darkcyan;
        width: 100%;
        height: 100px;
        margin-bottom: 20%;
        border-radius: 2px;
    }
</style>

<h1>Find order info</h1>

<form method="post" action="">
    <label>Customer name</label>
    <input type="text" id="CustomerName" placeholder="Write the name of customer" required />
    <input type="button" value="Find order" onclick="find();"/>
</form>
<div class="div_table">
    <table id="orders">
        <tr>
            <td>Order Id</td>
            <td>Customer Name</td>
            <td>Date of creating</td>
            <td>Total price</td>
            <td>Commands</td>
        </tr>
    </table>
</div>
<p><a href="/Order/Index">Return to orders commands</a></p>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    function find() {
        var uri = 'https://localhost:5001/restaurant/order/find/';
        var name = $('#CustomerName').val();
      $.getJSON(uri + name)
          .done(function (data) {
              $.each(data, function (key, item) {
                  $('<tr>', { id: key }).appendTo($('#orders'));
                  $('<td>', { text: item.orderId }).appendTo($('#' + key));
                  $('<td>', { text: item.customerName }).appendTo($('#' + key));
                  $('<td>', { text: item.orderDate }).appendTo($('#' + key));
                  $('<td>', { text: item.totalPrice }).appendTo($('#' + key));

                  var getdishes = $('<a>', { href: "/Order/GetDishes/" + item.orderId, text: "Dishes" }).append($('<br />'));
                  var editOrder = $('<a>', { href: "/Order/Edit/" + item.orderId, text: "Edit dish" }).append($('<br />'));
                  var deleteOrder = $('<a>', { href: "#", role: "button", onclick: "deleteOrder(" + item.orderId + ");", text: "Delete order" }).append($('<br />'));

                  $('<td>').append(getdishes, editOrder, deleteOrder).appendTo($('#' + key));
            });
          });
    }
    function deleteOrder(id) {
        var uri = 'https://localhost:5001/restaurant/order/delete/';
        $.ajax({
        type: "DELETE",
            url: uri + id,
            success: function () {
                alert('Order was deleted');
                document.location.reload(true);
            },
            failure: function (err) {
                    alert('Error: ' + err.Message);
                }
        });
    }
</script>
