﻿
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@using System.Linq
<style>
     * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: auto;
        height: auto;
        border: 2px solid black;
    }

    a, button {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
        background: none;
    }

    p {
        margin-top: 30px;
    }

    .smallLink {
        color: cadetblue;
        font-size: 15px;
    }

    td p {
        margin-top: 5px;
        margin-bottom: 1px;
    }

    p {
        margin-top: 20px;
    }
</style>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<h1>List of orders</h1>
<div class="div_table">
    <table id="orders">
        <tr>
            <td>Order Id</td>
            <td>Customer Name</td>
            <td>Date of creating</td>
            <td>Total price</td>
            <td>Commands</td>
        </tr>
    </table>
</div>
<p><a href="/Order/Add">Add new order</a></p>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    function getall() {
        var uri = 'https://localhost:5001/restaurant/order/getall';
      $.getJSON(uri)
          .done(function (data) {
              $.each(data, function (key, item) {
                  $('<tr>', { id: key }).appendTo($('#orders'));
                  $('<td>', { text: item.orderId }).appendTo($('#' + key));
                  $('<td>', { text: item.customerName }).appendTo($('#' + key));
                  $('<td>', { text: item.orderDate}).appendTo($('#' + key));
                  $('<td>', { text: item.totalPrice }).appendTo($('#' + key));

                  var getdishes = $('<a>', { href: "/Order/GetDishes/" + item.orderId, text: "Dishes" }).append($('<br />'));
                  var editOrder = $('<a>', { href: "/Order/Edit/" + item.orderId, text: "Edit dish" }).append($('<br />'));
                  var deleteOrder = $('<a>', { href: "#", role: "button", onclick: "deleteOrder(" + item.orderId + ");", text: "Delete order" }).append($('<br />'));
                  
                  $('<td>').append(getdishes, editOrder, deleteOrder).appendTo($('#' + key));
            });
          });
    }
    $(document).ready(getall);
    function deleteOrder(id) {
        var uri = 'https://localhost:5001/restaurant/order/delete/';
        $.ajax({
        type: "DELETE",
            url: uri + id,
            success: function () {
                alert('Order was deleted');
                document.location.reload(true);
            },
            failure: function (err) {
                    alert('Error: ' + err.Message);
                }
        });
    }
</script>
