﻿
@{
    ViewData["Title"] = "GetDishes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    * {
        text-align: center;
        font-size: 20px;
    }

    h1 {
        color: midnightblue;
        font-size: 35px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    .div_table {
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
        height: auto;
    }

    table {
        width: 100%;
        height: 100%;
        border-collapse: collapse;
    }

    tr {
        width: 100%;
        height: auto;
    }

    td {
        width: auto;
        height: auto;
        border: 2px solid black;
    }

    a, button {
        color: darkcyan;
        margin-left: 10px;
        margin-right: 10px;
        background: none;
    }

    p {
        margin-top: 30px;
    }

    .smallLink {
        color: cadetblue;
        font-size: 15px;
    }

    td p {
        margin-top: 5px;
        margin-bottom: 1px;
    }

    p {
        margin-top: 20px;
    }
</style>
<h1>List of dishes in this order</h1>
<div class="div_table">
    <table id="dishes">
        <tr>
            <td>Id of dish in order</td>
            <td>Dish name</td>
            <td>Dish portion</td>
            <td>Price per portion</td>
            <td>Count of portions</td>
            <td colspan="1">Commands</td>
        </tr>

    </table>
</div>
<p id="addDish"></p>
<p><a href="/Order/GetAll">Return to all orders</a></p>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var orderId = @ViewBag.Id;
    function getall() {
        var uri = 'https://localhost:5001/restaurant/order/getdishes/';
        $.getJSON(uri + orderId)
          .done(function (data) {
              $.each(data, function (key, item) {
                  $('<tr>', { id: key }).appendTo($('#dishes'));
                  $('<td>', { text: key }).appendTo($('#' + key));
                  for (var dish in item) {
                        $('<td>', { text: dish }).appendTo($('#' + key));
                        $('<td>', { text: item[dish].weight + " gr"}).appendTo($('#' + key));
                        $('<td>', { text: item[dish].price  + " UAH"}).appendTo($('#' + key));
                        $('<td>', { text: item[dish].amount }).appendTo($('#' + key));
                        
                  }
                  var editDish = $('<a>', { href: "/Order/EditDish/" + key, text: "Edit dish" }).append($('<br />'));
                  var deleteDish = $('<a>', { href: "#", role: "button", onclick: "deleteDish(" + key + ");", text: "Delete dish" }).append($('<br />'));
                  $('<td>').append(editDish, deleteDish).appendTo($('#' + key));
            });
          });
    }
    $(document).ready(function () {
        getall();
        $('<a>', { href: "/Order/AddDish/" + orderId, text: "Add dish to order" }).appendTo($('#addDish'));
    });

    function deleteDish(id) {
        var uri = 'https://localhost:5001/restaurant/order/deletedish/';
        $.ajax({
        type: "DELETE",
            url: uri + id,
            success: function () {
                alert('Dish was deleted');
                document.location.reload(true);
            },
            failure: function (err) {
                    alert('Error: ' + err.Message);
                }
        });
    }
    
</script>
