﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Privacy</title>
    <style>
        *{
            text-align: center;
        }
        p{
            font-size: 30px
        }
        a{
            margin-top: 70vh;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Privacy info</h1>
        <p>This site was developed by poor student of KPI. Please, be kind!</p>
    </div>
    <a href="/Home/Index">Return to main page</a>
</body>
</html>